{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Monitoring des Cabines{% endblock %}


{% block custom_style %}
  <link rel="stylesheet" href="{% static 'css/style_monitoring.css' %}">
{% endblock %}

{% block sidebar_header %}
  {% include 'includes/sidebar.html' %}
  {% include 'includes/header.html' %}
{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="content" id="content">
      <div class="total-power" id="total-power">
        Puissance Cumulée : <h1 id="total-power-value">0MW</h1>
      </div>
  
      <div class="critical-section" id="critical-section" style="display: none;">
        <h2>Cabines à couper (<span id="nombre_couper"></span>)</h2>
        <ul id="critical-list"></ul>
      </div>
  
      <div class="section">
        <h2>Cabines Prioritaires(Feeder Sud) <a href="#" class="btn btn-primary btn-sm">voir plus de cabines</a></h2>
        <div class="cabine-list" id="prioritaires"></div>
      </div>
  
      <div class="section">
        <h2>Feeder S/Station <a href="feeder_station.html" class="btn btn-primary btn-sm">voir plus de cabines</a></h2>
        <div class="cabine-list" id="feeder-1"></div>
      </div>
  
      <div class="section">
        <h2>Feeder Centre</h2>
        <div class="cabine-list" id="feeder-2"></div>
      </div>

      <div class="section">
        <h2>Feeder Route Sake</h2>
        <div class="cabine-list" id="feeder-3"></div>
      </div>
  
      <div id="chart-container">
        <canvas id="chart"></canvas>
      </div>
    </div>

{% endblock %}

{% block my_script %} 

    <script>
      const powerThreshold = {{ power_treshhold.puissance_seuil }}; // en MW
    </script>

    <!-- Script -->
    <script src="{% static 'js/script_monitoring.js' %}"></script>

{% endblock %}
